<form class="form-horizontal form-complex">
<div class="control-group">
	<label class="control-label" for="stash_event_stash_file_group">Stash File Group <span class="required">*</span> </label>
    <div class="controls">
	<input type="text" name="action.stash_event.param.stash_file_group" id="stash_event_stash_file_group"/>
    </div>
</div>
<div class="control-group">
	<label class="control-label" for="stash_event_sourcetype">sourcetype <span class="required">*</span> </label>
    <div class="controls">
	<input type="text" name="action.stash_event.param.sourcetype" id="stash_event_sourcetype"/>
    </div>
</div>
<div class="control-group">
	<label class="control-label" for="stash_event_index">index <span class="required">*</span> </label>
    <div class="controls">
	<input type="text" name="action.stash_event.param.index" id="stash_event_index"/>
    </div>
</div>
<div class="control-group">
	<label class="control-label" for="stash_event_source">source  </label>
    <div class="controls">
	<input type="text" name="action.stash_event.param.source" id="stash_event_source"/>
    </div>
</div>
<div class="control-group">
	<label class="control-label" for="stash_event_host">host  </label>
    <div class="controls">
	<input type="text" name="action.stash_event.param.host" id="stash_event_host"/>
    </div>
</div>
<div class="control-group">
	<label class="control-label" for="stash_event_fields">fields  </label>
    <div class="controls">
	<input type="text" name="action.stash_event.param.fields" id="stash_event_fields"/>
                <span class="help-block"> 
                    If provided space separated list of fields to include in the alert action
                </span>
    </div>
</div>
<div class="control-group">
    <div class="controls">
		<label class="checkbox" for="stash_event_include_raw">
			<input type="checkbox" name="action.stash_event.param.include_raw" id="stash_event_include_raw"/>
		Include Raw
		</label>
                <span class="help-block"> 
                    Include _raw as orig_raw
                </span>
    </div>
</div>
<div class="control-group">
    <div class="controls">
		<label class="checkbox" for="stash_event_use_current_time_for_event">
			<input type="checkbox" name="action.stash_event.param.use_current_time_for_event" id="stash_event_use_current_time_for_event"/>
		Use current time for event
		</label>
    </div>
</div>
</form>